.cloud {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
}
.cloud h3 {
	color: blue;
}
.old {
	background-color: #f4f5f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	border-radius: 8px;
}
.title{
	justify-content: start;
	text-align: left;

}
